@page "/pie-chart"
@inject IExpensesService ExpensesService
@inject IIncomesService IncomesService
@inject IJSRuntime jsRunTime;
@implements IDisposable



<PageTitle>Statistics</PageTitle>

<h1>@((Dates.Months)DateTime.Now.Month) expenses</h1>
<div id="chartdiv"></div>

<br />
<h3>Total spent this month: @(totalSpentThisMonth) €</h3>
<h3>Total earned this month:  @(totalEarnedThisMonth) €</h3>
@if (totalSpentThisMonth > totalSpentPrevMonth){
    <h3>Spent @(totalSpentThisMonth - totalSpentPrevMonth) € more than last month</h3>
}
else{
    <h3>Spent @(totalSpentPrevMonth - totalSpentThisMonth) € less than last month</h3>
}
<h3>Total spent this year:  @(totalSpentThisYear) €</h3>
<h3>Total earned this year:  @(totalEarnedThisYear) €</h3>


@code {
    [CascadingParameter]
    public Error Error { get; set; }

    double totalSpentThisMonth = 0;
    double totalSpentPrevMonth = 0;
    double totalSpentThisYear = 0;
    double totalEarnedThisMonth = 0;
    double totalEarnedThisYear = 0;

    protected override async Task OnInitializedAsync()
    {     
        await ExpensesService.GetCategories();
        await ExpensesService.GetSummary();
        var ExpenseSummaryList = ExpensesService.Summary;
        try
        {
            await jsRunTime.InvokeVoidAsync("GeneratePieChart", ExpenseSummaryList);
        }
        catch(System.Exception ex)
        {
            Error.ProcessError(ex);
        }


        foreach (var epxense in ExpenseSummaryList){
            totalSpentThisMonth = totalSpentThisMonth + epxense.totalExpenses;
        }

        totalSpentThisMonth = Math.Round(totalSpentThisMonth, 0);

        await ExpensesService.GetStatistics();
        Statistic moneyStatistics = ExpensesService.Statistics;
        totalSpentPrevMonth = Math.Round(moneyStatistics.monthStat, 2);
        totalSpentThisYear = Math.Round(moneyStatistics.yearStat, 2);

        await IncomesService.GetStatistics();
        moneyStatistics = IncomesService.Statistics;
        totalEarnedThisMonth = Math.Round(moneyStatistics.monthStat, 2);
        totalEarnedThisYear = Math.Round(moneyStatistics.yearStat, 2);
    }
    public void Dispose(){
       jsRunTime.InvokeVoidAsync("DisposePieChart");
    }
}