@page "/expense"
@page "/expense/{id:int}"
@inject IExpensesService ExpensesService
@inject NavigationManager NavigationManager

@if (Id == null)
{
	<PageTitle>Add a new expense</PageTitle>
	<h3>Add a new expense</h3>
}
else
{
	<PageTitle>Edit</PageTitle>
	<h3>Edit</h3>
}

<EditForm Model="expense">
	<div>
		<label for="money"> Money</label>
		<InputNumber id="money" @bind-Value="expense.Money"></InputNumber>
	</div>
	<div>
		<label for="comment"> Comment</label>
		<InputText id="comment" @bind-Value="expense.Comment"></InputText>
	</div>
	<div>
		<label for="category"> Category</label>
		<InputSelect @bind-Value="expense.CategoryId">
			@foreach(var category in ExpensesService.Categories){
				<option value="@category.Id">@category.Title</option>
			}
		</InputSelect>
	</div>
	<div>
		<label> Date </label>
	<InputSelect @bind-Value="expense.Year">
        @*<option selected disabled="true">--Select Year--</option>*@
        @foreach (var year in Dates.Years)
        {
            <option value="@year">@year</option>
        }
    </InputSelect>
	<InputSelect @bind-Value="expense.Month">
		@*<option selected disabled="true">--Select Month--</option>*@
        @foreach (var month in Enum.GetValues(typeof(Dates.Months)))
        {
            <option value="@((int)month)">@month</option>
        }
    </InputSelect>
	<InputSelect @bind-Value="expense.Day">
		@if (expense.Month != 0 || expense.Year !=0){
		@for (int day = 1; day<= DateTime.DaysInMonth(expense.Year, expense.Month); day++)
		{
		<option value="@day">@day</option>
		}
		}

    </InputSelect>
	</div>
	<br />
	<button type="submit" class="btn btn-primary" @onclick="Submit">@buttonText</button>
	<button type="submit" class="btn btn-danger" @onclick="GoBack"> Cancel</button>
</EditForm>
@code {

	[Parameter]
	public int? Id { get; set; }

	Expense expense = new Expense { Category = new Category() };

	string buttonText = string.Empty;
	protected override async Task OnInitializedAsync()
	{
		if(Id == null){
			buttonText = "Save new entry";
		}
		else{
			buttonText = "Update entry";
		}
		await ExpensesService.GetCategories();
	}

	protected override async Task OnParametersSetAsync()
	{	
		if(Id == null)
		{
			DateTime currentDate = DateTime.Now;
			expense.Category = ExpensesService.Categories[0];
			expense.CategoryId = expense.Category.Id;
			expense.Year = currentDate.Year;
			expense.Month = currentDate.Month;
			expense.Day = currentDate.Day;
		}
		else{
			expense = await ExpensesService.GetSingleExpense((int)Id);
		}
	}

	async Task Submit()
	{ 
		if (Id == null)
		{
			await ExpensesService.CreateExpense(expense);
			NavigationManager.NavigateTo("/expenses");
		}
		else
		{
			await ExpensesService.UpdateExpense(expense);
		}
	}

	public void GoBack()
	{
		NavigationManager.NavigateTo("/expenses");
	}

}